* {
    margin: 0px;
    box-sizing: border-box;
}

.pagina-Home {
    display: flex;
    justify-content: center;
    margin-top: 50px;

    button {
        padding: 15px 50px;
        border-radius: 50px;
        border: none;

        font-family: 'Montserrat', sans-serif;
        font-weight: 700;

        transition: 0.3s;
        border: 2px solid transparent;
    }

    button:hover {
        transform: scale(1.04);
        cursor: pointer;
        border: 2px solid #2a2a2a;
    }

    button:active {
        transform: scale(1);
        cursor: pointer;
        border: 2px solid #2a2a2a;
    }
}
